name: Create Release

on:
  push:
    tags:
      - "?*.?*.?*-rc*"
      - "?*.?*.?*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: Check if pre-release
        id: check-prerelease
        run: |
          if [[ ${{ github.ref_name }} == *"-rc"* ]]; then
            echo "prerelease=true" >> $GITHUB_OUTPUT
          else
            echo "prerelease=false" >> $GITHUB_OUTPUT
          fi

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            main.js
            manifest.json
            styles.css
          prerelease: ${{ steps.check-prerelease.outputs.prerelease }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
